.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-lg);
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: var(--spacing-lg);
    background-color: var(--color-panel-light);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}