.btn {
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: var(--radius-sm);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}
.btn:active {
    transform: translateY(1px);
}
.btn-primary {
    background-color: var(--color-accent);
    color: #fff;
}
.btn-primary:hover {
    background-color: var(--color-accent-hover);
}
.btn-none-decoration {
    text-decoration: none;
}
.btn-secondary {
    background-color: var(--color-panel-light);
    color: var(--color-text);
    border: 1px solid var(--color-border);
}
.btn-secondary:hover {
    background-color: var(--color-panel);
}